@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #ece8e1;
	height: 100%;
}

body {
	background-color: #0e1922;
	width: 100%;
	min-height: 100%;
}

@font-face {
	font-family: 'Tungsten';
	src: url('/fonts/Tungsten.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
